.list {
  display: inline-block;
  color: rgb(17, 15, 15); 
  background-color: rgb(25, 25, 26); 
  width: 360px;
  height: 210px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  border-color: rgb(255, 255, 255);
  border-width: 5px;
  border-style:  groove;
  border-color: #e6e6ef;
  border-width: 1px;
}
.listName {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.h3 {
  text-align: center;
  font-size: 30px;
  text-shadow: 2px;
  
}
.moldura{
  background-color: azure;
  border-color: azure;
}

